@page "/"
@attribute [AllowAnonymous]

<PageTitle>Ingresar - ITQS SOC</PageTitle>

<section class="login-shell">
    <div class="login-lines lines-left"></div>
    <div class="login-lines lines-right"></div>

    <main class="login-panel">
        <div class="login-logo">ITQS</div>
        <h1>Bienvenido</h1>
        <p>ITQS Support Operations Center</p>

        <a class="login-button" href="MicrosoftIdentity/Account/SignIn">
            Ingresar
        </a>
    </main>

    <div class="login-wave"></div>
</section>
